<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="pb-table">
    <template>
        <style>
            :host {
                display: block;
            }
            table {
                width: 100%;
                text-align: center;
                border-collapse: collapse;
                border-spacing: 0;
            }
            th {
                font-family: 'CA Sans', 'Helvetica', 'sans-serif';
                background-color: #F5F5F5;
                padding: 10px 10px;
                color: #444444;

            }
            td {
                word-break: break-all;
                font-family: 'CA Sans', 'Helvetica', 'sans-serif';
                padding: 10px 0;
                color: #333333;
            }
            td.exceeds {
               color: red;
            }
            .color-square {
                width: 25px;
                height: 25px;
                margin: 0 auto;
                border-radius: 6px;
            }
        </style>
        <div id='pb-table'>
            <table>
                <tr>
                    <template is="dom-repeat" items="{{headers}}">
                        <th>{{item}}</th>
                    </template>
                </tr>
                <template is="dom-repeat" items="{{data}}" as="dataArray">
                        <tr>
                            <td><div class="color-square" style$="background-color: {{dataArray.fill}};"></div></td>
                            <td>{{dataArray.name}}</td>
                            <td>{{dataArray.formattedForecastedCost}}</td>
                            <td class$="{{_hasExceededCost(dataArray.forecastedCost, dataArray.actualCost)}}">{{dataArray.formattedActualCost}}</td>
                            <td>{{dataArray.resources.length}}</td>
                            <td>{{dataArray.formattedProjectedStartDate}}</td>
                            <td>{{dataArray.formattedProjectedEndDate}}</td>
                        </tr>
                </template>
            </table>
        </div>
    </template>
    <script src="pb-table.js"></script>

</dom-module>