<dom-module id="pb-calendar">
    <template>
        <style>
            :host {
                display: inline-block;
                font-family: 'CA Sans', 'Helvetica', 'sans-serif';
                position: relative;
            }
            table.pb-calendar-body{
                border-collapse: collapse;
            }
            table.pb-calendar-body td{
                position:relative;
                border: 1px solid #888;
                text-align: center;
                font-size: 11px;
                padding: 3px;
            }
            table.pb-calendar-body td.selected, #pb-calendar-hover-display.selected{
                background: #82a;
                color: #fff;
            }
            .inactive {
                background: #ddd;
            }
            #pb-calendar-hover-display{
                display:none;
                position: absolute;
                background: #fff;
                border: 1px solid #82a;
                padding: 3px;
                font-size: 13px;
                color: #82a;
                font-weight: bold;
                width: 15px;
                text-align: center;
                pointer-events: none;
            }
            #pb-calendar-hover-display.active{
                display: block;
            }
        </style>

        <div class='pb-calendar-wrapper'>
            <table class='pb-calendar-body'>
                <template is='dom-repeat' items={{dates}} as="week" index-as="rowIndex">
                    <tr>
                        <template is='dom-repeat' items={{week}} as="day" index-as="colIndex">
                            <td class$='{{getCalendarClass(day, selectedDate)}}' 
                                on-mouseover="onDateHover" on-mouseout="removeHover"
                                data-row$="{{rowIndex}}" data-col$="{{colIndex}}">
                                {{getCalendarVal(day)}}
                            </td>
                        </template>
                    </tr>
                </template>
            </table>
            <div id="pb-calendar-hover-display" class$='{{hoverData.class}}' style$='{{hoverData.style}}'>
                {{getCalendarVal(hoverData.date)}}
            </div>
        </div>
       
    </template>
    <script src="pb-calendar.js"></script>
</dom-module>