<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-calendar.html">

<dom-module id="pb-project-term">
    <template>
        <style>
            :host {
                display: block;
                font-family: 'CA Sans', 'Helvetica', 'sans-serif';
                position: relative;
            }

            .pb-project-term-wrapper {
                position: relative;
                margin: 0 auto;
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
            }

            .pb-date-input-wrapper{
                position: relative;
                display: inline-block;
                width: calc(50% - 20px);
                min-width: 150px;
                
            }
            

            .container {
                display: inline-block;
                margin: 0 auto;
                width: 100%;
                text-align: center;
            }

            h2 {
                /* text-align: center;
                margin-left: -220px; */
            }

            .pb-date-input-wrapper pb-calendar{
                position: absolute;
                top: 37px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 500;
            }

            .pb-project-term-input {            
                    border: none;
                    border: solid 1px #EAE8F0;
                    border-radius: 3px;           
                    outline: none;
                    padding: 10px 15px;
                    height: 36px;
                    font-family: 'CA Sans', 'Helvetica', 'sans-serif';
                    font-size:  16px;
                    width: 100%;
                    box-sizing: border-box;
            }

            .pb-project-term-input:focus {
                border-color: #9D23FF
            }

            .pb-project-term-input::-webkit-input-placeholder { 
                font-family: 'CA Sans', 'Helvetica', 'sans-serif';
            }

            .pb-input-separator {
                box-sizing: border-box;
                display: inline-block;
                margin: 5px;
                width: 30px; 
                height: 4px; 
                background-color: #343434;
            }

            #start-calendar, #end-calendar {
                display: none;
                outline: none;
            }
        </style>
        
        <div class="pb-project-term-wrapper">
        <h2>Project Term</h2> 
            
        <div class="container">
            <div class="pb-date-input-wrapper">
                <input 
                    type="text" 
                    id="start"
                    class="pb-project-term-input" 
                    placeholder="Start Date" 
                    on-click="handleTap"
                    on-blur='onStartInputBlur'
                    on-keyup='onInputKeyup'                    
                    value={{formattedStartDate}}
                />
                <pb-calendar 
                    id="start-calendar" 
                    month-timestamp={{calendarStartOpenDate}}
                    selected-date="{{selectedStartDate}}"
                    tabindex="1"
                    on-click="handleCalendarTap">
                </pb-calendar>
            </div><div class="pb-input-separator">

            </div><div class="pb-date-input-wrapper">
                <input 
                    type="text" 
                    id="end"
                    class="pb-project-term-input end" 
                    placeholder="End Date" 
                    on-click="handleTap"
                    on-blur='onEndInputBlur'
                    on-keyup='onInputKeyup'
                    value={{formattedEndDate}} />
                
                <pb-calendar 
                    id="end-calendar" 
                    month-timestamp={{calendarEndOpenDate}}
                    selected-date="{{selectedEndDate}}"
                    on-click="handleCalendarTap"
                    tabindex="1">
                </pb-calendar>        
            </div>
        </div>
           
    </template>
    <script src="pb-project-term.js"></script>
</dom-module>

