<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-card.html">
<dom-module id="pb-project-budget">
    <template>
        <style>

            :host {
                display: block;
                font-family: 'CA Sans', 'Helvetica', 'sans-serif';
            }

            #pb-project-budget{
                position: relative;
                padding: 10px;
                box-sizing: border-box;
            }
            .card-wrapper {
                height: auto;
                border: 1px solid #EAE8F0;
            }

        </style>
        <div id='pb-project-budget'>
            <h2>Budget</h1>
            <div class="card-wrapper">
                <pb-card label={{label}} cost={{cost}}></pb-card>
            </div>
        </div>
    </template>
    <script src="pb-project-budget.js"></script>
</dom-module>