<link rel="import" href="../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../libraries/d3.html">
<dom-module id="pb-time-series-chart">

    <template>
        <style>
            :host {
                display: block;
            }
            text {
                font-family: 'CA Sans', 'Helvetica', 'sans-serif';
            }
        </style>       
        <div id='chart-viewport'></div>
    </template>
    <script src="pb-time-series-chart.js"></script>

</dom-module>
