<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="pb-project-phase">
    <template>
        <style>
            :host {
                display: block;
                font-family: 'CA Sans', 'Helvetica', 'sans-serif';
                position: relative;
            }

            h2 {
                font-weight: bold;
                
            }

            .pb-project-phase-wrapper {
                position: relative;
                margin: 0 auto;
                padding: 10px;
                box-sizing: border-box;
            }    

            .phase-container {
                margin: 0 auto;
                display: inline-block;
                text-align: center;

            }

            .phase {
                width: 25%;
                border: 2px solid #9D23FF;
                background-color: white;
                border-radius: 4px;
                color: #9D23FF;
                display: inline-block;
                padding: 5px 2px;
                margin-right: 10px;
                margin-bottom: 10px;
                box-sizing: border-box;
                white-space: nowrap;
                overflow: hidden;
                min-width: 100px;
                text-overflow:ellipsis;
            }
            .phase:hover {
                background-color: #9D23FF; 
                color: white;
                cursor: pointer;
            }
            .phase.selected {
                background-color: #9D23FF; 
                color: white;
            }
            p {
                text-align: center;
                padding: 0;
                margin: 0;
                font-size: 16px;
                font-weight: 700;
                pointer-events: none;
            }
            .pb-project-phase-input:focus {
                border-color: #9D23FF
            }
        </style>
        
        <div class='pb-project-phase-wrapper'>
            <h2>Phase</h2>
            <div class="phase-container">
                <template is="dom-repeat" items="{{phaseList}}">
                    <div 
                        class$="{{computeClasses(item.name)}}"
                        on-click="handleOnClick"
                        data-phaseName$="{{item.name}}">
                        <p>{{item.display}}</p>
                    </div>
                </template>
            </div>
            
        </div>
           
    </template>
    <script src="pb-project-phase.js"></script>
</dom-module>

